{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Admin SSRNAi Percevejos' or 
request.user|has_group:'Visitante SSRNAi Percevejos' or request.user|has_group:'CTI' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Gene</th>
          <td>{{gene.gene_name}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>halys_whole</th>
          <td>{{expression.halys_whole1}}</td>
        </tr>
        <tr>
          <th>halys_whole</th>
          <td>{{expression.halys_whole2}}</td>
        </tr>
        <tr>
          <th>halys_antennae</th>
          <td>{{expression.halys_antennae1}}</td>
        </tr>
        <tr>
          <th>halys_gut</th>
          <td>{{expression.halys_gut}}</td>
        </tr>
        <tr>
          <th>halys_antennae</th>
          <td>{{expression.halys_antennae2}}</td>
        </tr>
        <tr>
          <th>halys_antennae</th>
          <td>{{expression.halys_antennae3}}</td>
        </tr>
        <tr>
          <th>halys_salivary</th>
          <td>{{expression.halys_salivary1}}</td>
        </tr>
        <tr>
          <th>halys_salivary</th>
          <td>{{expression.halys_salivary2}}</td>
        </tr>
        <tr>
          <th>halys_salivary</th>
          <td>{{expression.halys_salivary3}}</td>
        </tr>
        <tr>
          <th>halys_salivary</th>
          <td>{{expression.halys_salivary4}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tabela expressão</th>
          <th>Tratamento</th>
          <th>NCBI_id</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for description in descriptions %}
        <tr>
          <th>{{description.expression}}</th>
          <td>{{description.treatment}}</td>
          <td>{{description.ncbi_id}}</td>
          <td>{{description.condition_description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
