{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>{{ contrato }}</title> {% endblock title %}

{% block content %}

    {% include "base/menu-sequenciamentos.html" %} <br/>

    <h2>{{ contrato }}</h2>

    <hr/>

    <p><b>Cadastrado:</b> <br/> <div class='text-highlight'>{{ contrato.data_cadastro }}&nbsp;</div></p>

    <hr/>

      <p>
        {% buttons %}
          <a href="{{ contrato.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
          {% if request.user == contrato.criado_por or request.user.is_superuser %}
            <a href="{{ contrato.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
          {% endif %}
            <a href="{% url 'list_contrato' %}" class="btn btn-sm btn-info">Voltar</a>
        {% endbuttons %}
      </p>

{% endblock content %}
