{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Projetos - Cadastrar/Editar Objetivo de Projeto</title> {% endblock title %}

{% block content %}

    <form class="form col-sm-10" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-default btn-success">Enviar <span class="glyphicon glyphicon-ok"></span></button>
            <a href="{% url 'new_resultado_projeto' %}" class="btn btn-default btn-info">Próximo <span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endbuttons %}
    </form>
    
{% endblock content %}


