{% extends "objetivo/crud/form.html" %}

{% load bootstrap3 %}

{% block title %} <title>Cadastrar/Editar Objetivo de Projeto</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    {% if not objetivos %}

      <h3> Nenhum Objetivo de Projeto Cadastrado. <a href="{% url 'new_objetivo_projeto' %}">Criar um Objetivo de Projeto?</a> </h3>

    {% else %}

        {% include 'base/sort_links.html' %}

        {% for objetivo in objetivos %}
            <ul class="list-group">
              <li class="list-group-item">

                <h3><a href="{{ objetivo.get_detail_url }}">{{ objetivo }}</a></h3>

                <b>Projeto Associado:</b>
                <a href="{% url 'detail_projeto' objetivo.projeto.id %}">{{ objetivo.projeto }}</a>
                <br/>

                <br/>

                {% if request.user == objetivo.criado_por or request.user.is_superuser %}
                  <p>
                    <a href="{{ objetivo.get_update_url }}" class="btn btn-sm btn-warning">Editar</a> 
                    <a href="{{ objetivo.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                  </p>
                {% endif %}

                <div class="data-atualizado">{{ objetivo.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}

    {% endif %}

{% endblock content %}
