
{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>{{ projeto.sigla }}</title> {% endblock title %}

{% block content %}

    <h2>Projeto {{ projeto.sigla }}</h2>
    <hr/>
    <p><b>Resumo:</b> {{ projeto.resumo }}</p>
    <p><b>Situação:</b> {{ projeto.status }}</p>
    <p><b>Líder:</b> {{ projeto.lider }}</p>
    <p><b>Código SEG:</b> {{ projeto.seg }}</p>
    <p><b>Título (Português):</b> {{ projeto.titulo_portugues }}</p>
    <p><b>Título (Inglês):</b> {{ projeto.titulo_ingles }}</p>
    <p><b>Data Início:</b> {{ projeto.data_inicio }}</p>
    <p><b>Duração (Meses):</b> {{ projeto.duracao }}</p>
    <p><b>Hipotese:</b> {{ projeto.hipotese }}</p>
    <p><b>Proponente(s):</b>
    {% for proponente in projeto.instituicao_proponente.all %}
      {% if not forloop.first %}, {% endif %}
      <a href="{% url 'detail_instituicao_projeto' proponente.id %}">{{ proponente.sigla }}</a>
    {% endfor %}</p>

    <p><b>Executora(es):</b>
    {% for executora in projeto.instituicao_executoraf.all %}
      {% if not forloop.first %}, {% endif %}
      <a href="{% url 'detail_instituicao_projeto' executora.id %}">{{ executora.sigla }}</a>
    {% endfor %}</p>

    <p><b>Objetivo Geral:</b> {{ projeto.objetivo_geral }}</p>
    
    <p>
        {% for objetivo in projeto.objetivo.all %}
            <a href="% url 'detail_objetivo_projeto' objetivo.id"> {{objetivo.numero}}</a>
        {% endfor %}
        <b></b>
    </p>

    <p><b>Cadastrado:</b> {{ projeto.data_cadastro }}</p>
    <p><b>Atualizado:</b> {{ projeto.data_atualizado }}</p>

    <hr/>
    {% if request.user == projeto.criado_por or request.user.is_superuser %}
      <p>
        <a href="{{ projeto.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>  
        <a href="{{ projeto.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a> 
        <a href="{% url 'list_projeto' %}" class="btn btn-sm btn-info">Voltar</a>
      </p>
    {% endif %}
{% endblock content %}
