{% extends "base/base_bmdb.html" %}

{% load bootstrap3 %}

{% block title %} <title>{{ ms_mode.name }}</title> {% endblock title %}

{% block content %}

    {% include "base/menu-metabolomica.html" %} <br/>

    <h2>{{ ms_mode.name }}</h2>

    <hr/>

    <p><b>Added:</b> <br/> <div class='text-highlight'>{{ ms_mode.data_cadastro }}&nbsp;</div></p>

    <hr/>

      <p>
        {% buttons %}
          <a href="/metabolomica{{ ms_mode.get_update_url }}" class="btn btn-sm btn-warning">Update</a>
          {% if request.user == ms_mode.criado_por or request.user.is_superuser %}
            <a href="/metabolomica{{ ms_mode.get_delete_url }}" class="btn btn-sm btn-danger">Delete</a>
          {% endif %}
            <a href="javascript:window.history.go(-1)" class="btn btn-sm btn-info"></span> Back</a>
        {% endbuttons %}
      </p>

{% endblock content %}
