{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Apagar {{ object }}</title> {% endblock title %}

{% block content %}

{% if request.user == tiposequenciamento.criado_por or request.user.is_superuser %}
  <form action="" method="post">{% csrf_token %}
    <h3>Deseja Apagar "{{ object }}"?</h3>

    <br/>

    {% buttons %}
        <button type="submit" class="btn btn-danger">Remover</button>
        <a href="javascript:window.history.go(-1)" class="btn btn-info"></span> Voltar</a>
    {% endbuttons %}

  </form>
{% endif %}

{% endblock content %}
