{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Listar Todos os Tipo de Sequenciamento</title> {% endblock title %}

{% block content %}
    {% include "base/menu-sequenciamentos.html" %} <br/>

    {% if not tiposequenciamentos %}

    <div class="jumbotron"><h4>Nenhum Dado Cadastrado. <a href="{% url 'new_tiposequenciamento' %}">Cadastrar?</a> </h4</div>

    {% else %}

        {% include 'base/sort_links.html' %}

        {% for tiposequenciamento in tiposequenciamentos %}
            <ul class="list-group">
              <li class="list-group-item">

                <h3><a href="{{ tiposequenciamento.get_detail_url }}">{{ tiposequenciamento }}</a></h3>


                {% if request.user == tiposequenciamento.criado_por or request.user.is_superuser %}
                <br/>
                <p>
                  {% buttons %}
                    <a href="{{ tiposequenciamento.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
                    {% if request.user == sequenciamento.criado_por or request.user.is_superuser %}
                      <a href="{{ tiposequenciamento.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                    {% endif %}
                  {% endbuttons %}
                </p>
                {% endif %}

                <div class="data-atualizado">{{ tiposequenciamento.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}

    {% endif %}

{% endblock content %}
