{% extends "base/base_bmdb.html" %}
{% load gbp_filters %}

{% load bootstrap3 %}

{% block title %} <title>Dashboard Approaches</title> {% endblock title %}

{% block content %}
  <div class="jumbotron">
    <p class="texto">
      <h3>
        {% for database in databases %}
          {% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin RIDB' or request.user|has_group:'Visitante SSRNAi Buvas' 
            or request.user|has_group:'Admin SSRNAi Buvas' or request.user|has_group:'CTI' or request.user.is_superuser %}
            {% if database.id == 1 %}
              <a href="/ssrnai/buva/buva_database_search/{{database.id}}">{{database}}</a><br/><br/>
            {% endif %}
          {% endif %}
          {% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin RIDB' or request.user|has_group:'Admin SSRNAi Nematoides' or
            request.user|has_group:'Visitante SSRNAi Nematoides' or request.user|has_group:'CTI' or request.user.is_superuser %}
            {% if database.id == 3 %}
              <a href="/ssrnai/nematoide/nematoide_database_search/{{database.id}}">{{database}}</a><br/><br/>
            {% endif %}
          {% endif %}
          {% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin RIDB' or request.user|has_group:'Admin SSRNAi Lagartas' or
            request.user|has_group:'Visitante SSRNAi Lagartas' or request.user|has_group:'CTI' or request.user.is_superuser %}
            {% if database.id == 4 %}
              <a href="/ssrnai/lagarta/lagarta_database_search/{{database.id}}">{{database}}</a><br/><br/>
            {% endif %}
          {% endif %}
          {% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin RIDB' or request.user|has_group:'Admin SSRNAi Percevejos' or 
            request.user|has_group:'Visitante SSRNAi Percevejos' or request.user|has_group:'CTI' or request.user.is_superuser %}
            {% if database.id == 5 %}
              <a href="/ssrnai/percevejo/percevejo_database_search/{{database.id}}">{{database}}</a><br/><br/>
            {% endif %}
          {% endif %}
          {% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin RIDB' or request.user|has_group:'Admin SSRNAi Capim' or 
            request.user|has_group:'Visitante SSRNAi Capim' or request.user|has_group:'CTI' or request.user.is_superuser %}
            {% if database.id == 6 %}
              <a href="/ssrnai/capim/capim_database_search/{{database.id}}">{{database}}</a><br/><br/>
            {% endif %}
          {% endif %}
        {% endfor %}
      </h3>
    </p>
  </div>
{% endblock content %}