{% extends "base/base_bmdb.html" %}

{% load bootstrap3 %}
{% load gbp_filters %}

{% block title %} <title>Database {{database.name}}</title> {% endblock title %}

{% block content %}
  <div style="padding-top: 16px; float: right;">
    <form id="searchform" action="{% url 'dashboard_detail' database.id %}" method="get" accept-charset="utf-8" style="float: right;">
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
      <button type="submit" class="btn btn-default btn-success">Search</button>
    </form>
  </div>

  <h2>{{ database.name }}</h2>
  <hr/>

  <div class="dashboard">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="database">Database</th>
          <th class="lab_code">Sample</th>
          <th class="name">Result</th>
          <th class="experimental_condition">Condition</th>
          <th class="equipment">Equipment</th>
          <th class="analytical_method">Analytical Method</th>
          <th class="extr_method">Extr Method</th>
          <th class="parameters_lc_ms">Parameters LC MS</th>
          <th class="lc_raw_data">LC Data</th>
          <th class="ms_raw_data">MS Data</th>
          <th class="raw_data">Raw Data</th>
          <th class="process_data">Process Data</th>
          <th class="replicate">Replicate</th>
          <th class="species">Species</th>
          <th class="bio_sample">Bio Sample</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="database">Isso é um teste</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock content %}
