{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Projeto Componente - {{ projetocomponente.nome }}</title> {% endblock title %}

{% block content %}

    <h2>{{ projetocomponente }}</h2>
    <hr/>
    <p><b>Número:</b> {{ projetocomponente.numero }}</p>
    <p><b>Responsável: </b> {{ projetocomponente.responsavel }}</p>
    
    <p> <b>Projeto associado: </b>
         <a href="{% url 'detail_projeto' projetocomponente.projeto.id %}">{{ projetocomponente.projeto }}</a>
    </p>
    

    <p><b>Cadastrado:</b> {{ projetocomponente.data_cadastro }}</p>
    <p><b>Atualizado:</b> {{ projetocomponente.data_atualizado }}</p>

    <hr/>
    {% if request.user == projetocomponente.criado_por or request.user.is_superuser %}
      <p>
        <a href="{{ projetocomponente.get_update_url }}">Editar</a> | 
        <a href="{{ projetocomponente.get_delete_url }}">Apagar</a> |
        <a href="{% url 'list_projetocomponente_projeto' %}">Voltar</a>
      </p>
    {% endif %}
{% endblock content %}
