{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>{{ projetocomponente }}</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <h2>{{ projetocomponente }}</h2>

    <hr/>

    <p><b>Projeto:</b> <br/> <div class='text-highlight'><a href="{% url 'detail_projeto' projetocomponente.projeto.id %}">{{ projetocomponente.projeto }}</a>&nbsp;</div></p>

    <p><b>Responsável:</b> <br/> <div class='text-highlight'> {{ projetocomponente.responsavel }}&nbsp;</div></p>

    <p><b>Cadastrado:</b> <br/> <div class='text-highlight'> {{ projetocomponente.data_cadastro }}&nbsp;</div></p>

    <hr/>
    {% if request.user == projetocomponente.criado_por or request.user.is_superuser %}
      <p>
        <a href="{{ projetocomponente.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
        <a href="{{ projetocomponente.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
        <a href="{% url 'list_projetocomponente_projeto' %}" class="btn btn-sm btn-info">Voltar</a>
      </p>
    {% endif %}

{% endblock content %}
