{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Projeto Componente - Listar Todos os Projetos Componentees</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    {% if not projetoscomponentes %}

      <h3> Nenhum Projeto Componente Cadastrado. <a href="{% url 'new_projetocomponente_projeto' %}">Criar um Projeto Componente?</a> </h3>

    {% else %}

        {% include 'base/sort_links.html' %}

        {% for projetocomponente in projetoscomponentes %}
            <ul class="list-group">
              <li class="list-group-item">
                
                <h3><a href="{{ projetocomponente.get_detail_url }}">{{ projetocomponente }}</a></h3>

                <b>Projeto Associado:</b>
                <a href="{% url 'detail_projeto' projetocomponente.projeto.id %}">{{ projetocomponente.projeto }}</a>
                <br/>
                
                <br/>
                
                {% if request.user == projetocomponente.criado_por or request.user.is_superuser %}
                  <p>
                    <a href="{{ projetocomponente.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>  
                    <a href="{{ projetocomponente.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                  </p>
                {% endif %}

                <div class="data-atualizado">{{ projetocomponente.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}
        
    {% endif %} 

{% endblock content %}
