{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Listar Todas as Metas de Projetos</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    {% if not metaprojeto %}

      <div class="jumbotron"><h4>Nenhum Dado Cadastrado. <a href="{% url 'new_metaprojeto_projeto' %}">Cadastrar?</a> </h4</div>

    {% else %}

        <div style="float: right;"><a href="{% url 'new_metaprojeto_projeto' %}" class="btn btn-sm btn-success">Adicionar</a></div>

        {% include 'base/sort_links.html' %}

        {% for metaprojeto in metaprojeto %}
            <ul class="list-group">
              <li class="list-group-item">
                
                <h3><a href="{{ metaprojeto.get_detail_url }}">{{ metaprojeto }}</a></h3>        
                
                <br/>
                
                {% if request.user == metaprojeto.criado_por or request.user.is_superuser %}
                  <p>
                    <a href="{{ metaprojeto.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>  
                    <a href="{{ metaprojeto.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                  </p>
                {% endif %}

                <div class="data-atualizado">{{ metaprojeto.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}
        
    {% endif %} 

{% endblock content %}
