{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Apagar o Sequenciamento {{ object }}</title> {% endblock title %}

{% block content %}

{% if request.user == sequenciamento.criador_por or request.user in sequenciamento.colaborador.all or request.user.is_superuser %}
  <form action="" method="post">{% csrf_token %}
    <h3>Deseja Apagar "{{ object }}"?</h3>

    <br/>

    {% buttons %}
        <button type="submit" class="btn btn-primary">Remover</button>
    {% endbuttons %}

  </form>
{% else %}
  <div class="jumbotron"><h4>Você não possui autorização para acessar este Dado<h4></div>
{% endif %}

{% endblock content %}
