{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Projetos - Cadastrar/Editar Sequenciamento</title> {% endblock title %}

{% block content %}

    {% include "base/menu-sequenciamentos.html" %} <br/>

    <form class="form-horizontal" method="POST">
        {% csrf_token %}

        {% bootstrap_form form layout='horizontal' %}

        <div class="modal-footer">
            {% buttons %}
                <button type="submit" class="btn btn-default btn-success">Enviar <span class="glyphicon glyphicon-ok"></span></button>
            {% endbuttons %}
        </div>

    </form>

    <div class="data-list">
        {% if not sequenciamentos %}

            <h3> Nenhum Sequenciamento Cadastrado. </h3>

        {% else %}

        {% for sequenciamento in sequenciamentos %}
            <ul class="list-group">
              <li class="list-group-item">

                <h3><a href="{{ sequenciamento.get_sequenciamento_detail_url }}">{{ sequenciamento }}</a></h3>

                {% if request.user == sequenciamento.criado_por or request.user.is_superuser %}
                <br/>
                  <p>
                    <a href="{{ sequenciamento.get_sequenciamento_update_url }}">Editar</a> |
                    <a href="{{ sequenciamento.get_sequenciamento_delete_url }}">Apagar</a>
                  </p>
                {% endif %}

                <div class="data-atualizado">{{ sequenciamento.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

    {% endif %}

    <script type="text/javascript">
      $(document).ready(function() {
        $(function() { $('#id_data_contratacao').datepicker({ language: 'pt-BR' }); });
      });
    </script>

{% endblock content %}
