{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Projetos - Cadastrar/Editar Sequenciamento</title> {% endblock title %}

{% block content %}

    {% include "base/menu-sequenciamentos.html" %} <br/>

    <form class="form-horizontal" method="POST">
        {% csrf_token %}

        {% bootstrap_form form layout='horizontal' %}

        <div class="modal-footer">
            {% buttons %}
                <button type="submit" class="btn btn-default btn-success">Enviar <span class="glyphicon glyphicon-ok"></span></button>
            {% endbuttons %}
        </div>

    </form>

    <script type="text/javascript">
      $(document).ready(function() {
        $(function() { $('#id_data_contratacao').datepicker({ language: 'pt-BR' }); });
      });
    </script>

{% endblock content %}
