{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Listar Todos os Sequenciamento</title> {% endblock title %}

{% block content %}
    {% include "base/menu-sequenciamentos.html" %} <br/>

    {% if not sequenciamentos %}

      <div class="jumbotron"><h4>Nenhum Dado Cadastrado. <a href="{% url 'new_sequenciamento' %}">Cadastrar?</a> </h4</div>

    {% else %}

        <div style="float: right;"><a href="{% url 'new_sequenciamento' %}" class="btn btn-sm btn-success">Adicionar</a></div>

        {% include 'base/sort_links.html' %}

        {% for sequenciamento in sequenciamentos %}
            <ul class="list-group">
              <li class="list-group-item">

                <h3><a href="{{ sequenciamento.get_detail_url }}">{{ sequenciamento }}</a></h3>
                <p><b>Tipo: </b> {{ sequenciamento.tipo_sequenciamento }}</p>
                <p><b>Responsável: </b> {{ sequenciamento.responsavel }}</p>
                {% if sequenciamento.colaborador.all %}
                  <p><b>Colaboradores: </b> {{sequenciamento.colaborador.all|join:', '}}</p>
                {% endif %}
                {% if sequenciamento.tarefasequenciamento_set.all %}
                  <p><b>Tarefas: </b>
                    {% for tarefa in sequenciamento.tarefasequenciamento_set.all %}
                    {% if not forloop.first %}, {% endif %}
                    <a href="{{ tarefa.get_detail_url }}">{{ tarefa.tarefa }}</a>
                    {% endfor %}
                  </p>
                {% endif %}
                <p>
                  {% buttons %}
                    <a href="{{ sequenciamento.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
                    {% if request.user == sequenciamento.criado_por or request.user.is_superuser %}
                      <a href="{{ sequenciamento.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                    {% endif %}
                    <a href="{% url 'new_tarefasequenciamento' %}{{sequenciamento.id}}" class="btn btn-sm btn-info">Adicionar Tarefa</a>
                  {% endbuttons %}
                </p>

                <div class="data-atualizado">{{ sequenciamento.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}

    {% endif %}

{% endblock content %}
