{% extends "base/base.html" %}

{% block content %}
    <div class="jumbotron">
      <p class="texto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum dui finibus orci ornare, nec vestibulum mi elementum. Sed porttitor metus mi, sollicitudin auctor dui rutrum eu. Sed facilisis imperdiet dolor quis scelerisque. Vivamus felis nulla, interdum efficitur lacus eget, ornare placerat dui. Cras pulvinar diam tellus, ut aliquet eros efficitur at. Vestibulum sollicitudin, massa nec pretium vestibulum, tellus dui feugiat justo, non vulputate erat felis eu magna. Aliquam nec nulla dignissim, convallis neque non, lobortis mauris. Etiam posuere volutpat dolor eu pellentesque. Praesent et risus orci. Vivamus quis tempor lectus. Phasellus eu malesuada nibh. Sed pellentesque, dolor in tempor lobortis, nisi enim ornare risus, at ullamcorper dui eros in felis. Donec ultricies luctus tellus, sit amet pharetra justo tempus at. Phasellus efficitur vulputate ligula eget dictum.
      </p>
      <p class="texto">
        Aenean in risus et nibh iaculis tincidunt. Vivamus eleifend tellus massa, eu placerat mi ornare sit amet. Pellentesque nunc mauris, euismod in lacus id, mollis pretium enim. Sed nulla diam, convallis in odio sed, euismod imperdiet neque. Aliquam et felis efficitur, accumsan libero a, vulputate dui. Quisque laoreet elit risus. Morbi non metus et ligula accumsan tristique porta vitae augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in turpis sed velit convallis elementum
      </p>
    </div>
{% endblock content %}
