{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script type="text/javascript" src="/static/smart-selects/admin/js/chainedm2m.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/files/css/style.css" />

    {% block title %} <title>GBP - Laboratório de Bioinformática em Bioenergia - EMBRAPA Agroenergia</title> {% endblock title %}

  <style> body { padding-top: 75px; } </style>

</head>

<body>

  {% include "base/menu.html" %}

  <div class="container">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock content %}
  </div>
  <br/>
  <div style='float:right; margin-right: 15px; font-size: 11px;'>Using Django {{ django_version }}</div>
</body>
</html>
