{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">

    <link href="/static/files/img/favicon.ico" rel="Shortcut Icon" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script type="text/javascript" src="/static/smart-selects/admin/js/chainedm2m.js"></script>
    <script type="text/javascript" src="/static/smart-selects/admin/js/chainedfk.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/files/css/style.css" />

    {% block title %} <title>Laboratório de Bioinformática em Bioenergia (LBB) - EMBRAPA Agroenergia</title> {% endblock title %}

</head>

<body>
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
	  <ul id="menu-barra-temp" style="list-style:none;">
  		<li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
		  <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
	  </ul>
  </div>

  {% include "base/menu.html" %}

  <div class="row">
    {% include "base/menu-internal.html" %}

    <div class="col-sm-1">
      <div class="container" style="max-width: 1024px;">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>

  <br/>

  <!-- <div style='float:right; margin-right: 15px; font-size: 11px;'>Using Django {{ django_version }}</div> -->

  <footer class="footer">
    <br/>
    <div class="container">
      <p class="text-muted">
        <div style="float: left;">
          <b>Laboratório de Bioinformática em Bioenergia (LBB)</b><br/>
          <b>Embrapa Agroenergia</b><br/><br/>
          <small>
            Parque Estação Biológica (pqEB), PqEB s/nº, Ed. Embrapa Agroenergia<br/>
            Caixa Postal 40.315, CEP 70770-901, Brasília, DF<br/>
            Fone: +55 (61) 3448-1581 | Fax: +55(61)3448-1589 | <a href="https://www.embrapa.br/fale-conosco">SAC</a>
          </small>
        </div>

        <div style="float: right;">
          <br/><br/>
          <small>
            Empresa Brasileira de Pesquisa Agropecuária - Embrapa<br/>
            Todos os direitos reservados, conforme Lei no 9.610.
          </small>
        </div>

     </p>
    </div>
    <br/><br/>
  </footer>

  <script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>

</body>
</html>
