<script> $(document).ready(function() { $('.nav-tabs a[id="{{request.resolver_match.url_name}}"]').tab('show'); }); </script>
  <ul class="nav nav-tabs" id="myTab" >
            {% if request.user.is_authenticated %}
                <li class="tab-title"><a id="new_projeto" href="{% url 'new_projeto' %}#">Projetos</a></li>
                <li class="tab-title"><a id="new_objetivo_projeto" href="{% url 'new_objetivo_projeto' %}#">Obj. Específicos</a>
                <li class="tab-title"><a id="new_resultado_projeto" href="{% url 'new_resultado_projeto' %}#">Resultados</a></li>
                <li class="tab-title"><a id="new_palavrachave_projeto" href="{% url 'new_palavrachave_projeto' %}#">Keywords</a></li>
                <li class="tab-title"><a id="new_projetocomponente_projeto" href="{% url 'new_projetocomponente_projeto' %}#">PCs</a></li>
                <li class="tab-title"><a id="new_metaprojeto_projeto" href="{% url 'new_metaprojeto_projeto' %}#">Metas</a></li>
                <li class="tab-title"><a id="new_planoacao_projeto" href="{% url 'new_planoacao_projeto' %}#">PAs</a></li>
                <li class="tab-title"><a id="new_atividade_projeto" href="{% url 'new_atividade_projeto' %}#">Atividades</a></li>
                <li class="tab-title"><a id="new_tarefa_projeto" href="{% url 'new_tarefa_projeto' %}#">Tarefas</a></li>
                <li class="tab-title"><a id="new_instituicao_projeto" href="{% url 'new_instituicao_projeto' %}#">Instituições</a></li>
            {% endif %}
  </ul>
