<div id="header">
  <div id="logo">
    <img src="/static/files/img/embrapa.png" alt="Logo EMBRAPA Agroenergia"/>
  </div>

  <div id="lbb">
    <h3 style="font-weight: bolder;">Laboratório de Bioinformática em Bioenergia</h3>
  </div>
</div>

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="margin-left: 75px;">
          <li><a href="/">Início</a></li>
          <li><a href="{% url 'about' %}">Sobre</a></li>
          <li><a href="{% url 'location' %}">Localização</a></li>

          <li class="menu-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bioinformática<b class="caret"></b></a>

          <ul class="dropdown-menu">
            <li class="menu-item dropdown-submenu">
              <a tabindex="0">Marcadores Moleculares</a>
              <ul class="dropdown-menu">
                <li><a tabindex="0">INDELS</a></li>
                <li><a tabindex="0">PAVs</a></li>
                <li><a tabindex="0">SNPs</a></li>
                <li><a tabindex="0">SSRs</a></li>
              </ul>
            </li>
          </ul>
          </li>

        {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout ({{ request.user.username }})</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
