{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Admin SSRNAi Lagartas' or
request.user|has_group:'Visitante SSRNAi Lagartas' or request.user|has_group:'CTI' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Gene</th>
          <td>{{gene.gene_name}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Larvae1</th>
          <td>{{expression.larvae1}}</td>
        </tr>
        <tr>
          <th>Larvae2</th>
          <td>{{expression.larvae2}}</td>
        </tr>
        <tr>
          <th>Larvae3</th>
          <td>{{expression.larvae3}}</td>
        </tr>
        <tr>
          <th>Larvae4</th>
          <td>{{expression.larvae4}}</td>
        </tr>
        <tr>
          <th>Larvae5</th>
          <td>{{expression.larvae5}}</td>
        </tr>
        <tr>
          <th>Larvae6</th>
          <td>{{expression.larvae6}}</td>
        </tr>
        <tr>
          <th>Larvae7</th>
          <td>{{expression.larvae7}}</td>
        </tr>
        <tr>
          <th>Larvae8</th>
          <td>{{expression.larvae8}}</td>
        </tr>
        <tr>
          <th>Larvae9</th>
          <td>{{expression.larvae9}}</td>
        </tr>
        <tr>
          <th>Larvae10</th>
          <td>{{expression.larvae10}}</td>
        </tr>
        <tr>
          <th>Larvae11</th>
          <td>{{expression.larvae11}}</td>
        </tr>
        <tr>
          <th>Larvae12</th>
          <td>{{expression.larvae12}}</td>
        </tr>
        <tr>
          <th>Larvae13</th>
          <td>{{expression.larvae13}}</td>
        </tr>
        <tr>
          <th>Larvae14</th>
          <td>{{expression.larvae14}}</td>
        </tr>
        <tr>
          <th>Larvae15</th>
          <td>{{expression.larvae15}}</td>
        </tr>
        <tr>
          <th>Larvae16</th>
          <td>{{expression.larvae16}}</td>
        </tr>
        <tr>
          <th>Larvae17</th>
          <td>{{expression.larvae17}}</td>
        </tr>
        <tr>
          <th>Larvae18</th>
          <td>{{expression.larvae18}}</td>
        </tr>
        <tr>
          <th>Larvae19</th>
          <td>{{expression.larvae19}}</td>
        </tr>
        <tr>
          <th>Larvae20</th>
          <td>{{expression.larvae20}}</td>
        </tr>
        <tr>
          <th>Larvae21</th>
          <td>{{expression.larvae21}}</td>
        </tr>
        <tr>
          <th>Larvae22</th>
          <td>{{expression.larvae22}}</td>
        </tr>
        <tr>
          <th>Larvae23</th>
          <td>{{expression.larvae23}}</td>
        </tr>
        <tr>
          <th>Larvae24</th>
          <td>{{expression.larvae24}}</td>
        </tr>
        <tr>
          <th>Larvae25</th>
          <td>{{expression.larvae25}}</td>
        </tr>
        <tr>
          <th>Larvae26</th>
          <td>{{expression.larvae26}}</td>
        </tr>
        <tr>
          <th>Larvae27</th>
          <td>{{expression.larvae27}}</td>
        </tr>
        <tr>
          <th>Larvae28</th>
          <td>{{expression.larvae28}}</td>
        </tr>
        <tr>
          <th>Larvae29</th>
          <td>{{expression.larvae29}}</td>
        </tr>
        <tr>
          <th>Larvae30</th>
          <td>{{expression.larvae30}}</td>
        </tr>
        <tr>
          <th>Larvae31</th>
          <td>{{expression.larvae31}}</td>
        </tr>
        <tr>
          <th>Larvae32</th>
          <td>{{expression.larvae32}}</td>
        </tr>
        <tr>
          <th>Larvae33</th>
          <td>{{expression.larvae33}}</td>
        </tr>
        <tr>
          <th>Larvae34</th>
          <td>{{expression.larvae34}}</td>
        </tr>
        <tr>
          <th>Larvae35</th>
          <td>{{expression.larvae35}}</td>
        </tr>
        <tr>
          <th>Larvae36</th>
          <td>{{expression.larvae36}}</td>
        </tr>
        <tr>
          <th>Larvae37</th>
          <td>{{expression.larvae37}}</td>
        </tr>
        <tr>
          <th>Larvae38</th>
          <td>{{expression.larvae38}}</td>
        </tr>
        <tr>
          <th>Larvae39</th>
          <td>{{expression.larvae39}}</td>
        </tr>
        <tr>
          <th>Larvae40</th>
          <td>{{expression.larvae40}}</td>
        </tr>
        <tr>
          <th>Larvae41</th>
          <td>{{expression.larvae41}}</td>
        </tr>
        <tr>
          <th>Larvae42</th>
          <td>{{expression.larvae42}}</td>
        </tr>
        <tr>
          <th>Larvae43</th>
          <td>{{expression.larvae43}}</td>
        </tr>
        <tr>
          <th>Larvae44</th>
          <td>{{expression.larvae44}}</td>
        </tr>
        <tr>
          <th>Larvae45</th>
          <td>{{expression.larvae45}}</td>
        </tr>
        <tr>
          <th>Larvae46</th>
          <td>{{expression.larvae46}}</td>
        </tr>
        <tr>
          <th>Larvae47</th>
          <td>{{expression.larvae47}}</td>
        </tr>
        <tr>
          <th>Larvae48</th>
          <td>{{expression.larvae48}}</td>
        </tr>
        <tr>
          <th>Larvae49</th>
          <td>{{expression.larvae49}}</td>
        </tr>
        <tr>
          <th>Larvae50</th>
          <td>{{expression.larvae50}}</td>
        </tr>
        <tr>
          <th>Larvae51</th>
          <td>{{expression.larvae51}}</td>
        </tr>
        <tr>
          <th>Larvae52</th>
          <td>{{expression.larvae52}}</td>
        </tr>
        <tr>
          <th>Larvae53</th>
          <td>{{expression.larvae53}}</td>
        </tr>
        <tr>
          <th>Larvae54</th>
          <td>{{expression.larvae54}}</td>
        </tr>
        <tr>
          <th>Larvae55</th>
          <td>{{expression.larvae55}}</td>
        </tr>
        <tr>
          <th>Larvae56</th>
          <td>{{expression.larvae56}}</td>
        </tr>
        <tr>
          <th>Larvae57</th>
          <td>{{expression.larvae57}}</td>
        </tr>
        <tr>
          <th>Larvae58</th>
          <td>{{expression.larvae58}}</td>
        </tr>
        <tr>
          <th>Larvae59</th>
          <td>{{expression.larvae59}}</td>
        </tr>
        <tr>
          <th>Larvae60</th>
          <td>{{expression.larvae60}}</td>
        </tr>
        <tr>
          <th>Larvae61</th>
          <td>{{expression.larvae61}}</td>
        </tr>
        <tr>
          <th>Larvae62</th>
          <td>{{expression.larvae62}}</td>
        </tr>
        <tr>
          <th>Larvae63</th>
          <td>{{expression.larvae63}}</td>
        </tr>
        <tr>
          <th>Larvae64</th>
          <td>{{expression.larvae64}}</td>
        </tr>
        <tr>
          <th>Larvae65</th>
          <td>{{expression.larvae65}}</td>
        </tr>
        <tr>
          <th>Larvae66</th>
          <td>{{expression.larvae66}}</td>
        </tr>
        <tr>
          <th>Larvae67</th>
          <td>{{expression.larvae67}}</td>
        </tr>
        <tr>
          <th>Larvae68</th>
          <td>{{expression.larvae68}}</td>
        </tr>
        <tr>
          <th>Larvae69</th>
          <td>{{expression.larvae69}}</td>
        </tr>
        <tr>
          <th>Larvae70</th>
          <td>{{expression.larvae70}}</td>
        </tr>
        <tr>
          <th>Larvae71</th>
          <td>{{expression.larvae71}}</td>
        </tr>
        <tr>
          <th>Larvae72</th>
          <td>{{expression.larvae72}}</td>
        </tr>
        <tr>
          <th>Larvae73</th>
          <td>{{expression.larvae73}}</td>
        </tr>
        <tr>
          <th>Larvae74</th>
          <td>{{expression.larvae74}}</td>
        </tr>
        <tr>
          <th>Larvae75</th>
          <td>{{expression.larvae75}}</td>
        </tr>
        <tr>
          <th>Larvae76</th>
          <td>{{expression.larvae76}}</td>
        </tr>
        <tr>
          <th>Larvae77</th>
          <td>{{expression.larvae77}}</td>
        </tr>
        <tr>
          <th>Larvae78</th>
          <td>{{expression.larvae78}}</td>
        </tr>
        <tr>
          <th>Larvae79</th>
          <td>{{expression.larvae79}}</td>
        </tr>
        <tr>
          <th>Larvae80</th>
          <td>{{expression.larvae80}}</td>
        </tr>
        <tr>
          <th>Larvae81</th>
          <td>{{expression.larvae81}}</td>
        </tr>
        <tr>
          <th>Larvae82</th>
          <td>{{expression.larvae82}}</td>
        </tr>
        <tr>
          <th>Larvae83</th>
          <td>{{expression.larvae83}}</td>
        </tr>
        <tr>
          <th>Larvae84</th>
          <td>{{expression.larvae84}}</td>
        </tr>
        <tr>
          <th>Larvae85</th>
          <td>{{expression.larvae85}}</td>
        </tr>
        <tr>
          <th>Larvae86</th>
          <td>{{expression.larvae86}}</td>
        </tr>
        <tr>
          <th>Larvae87</th>
          <td>{{expression.larvae87}}</td>
        </tr>
        <tr>
          <th>Larvae88</th>
          <td>{{expression.larvae88}}</td>
        </tr>
        <tr>
          <th>Larvae89</th>
          <td>{{expression.larvae89}}</td>
        </tr>
        <tr>
          <th>Larvae90</th>
          <td>{{expression.larvae90}}</td>
        </tr>
        <tr>
          <th>Larvae91</th>
          <td>{{expression.larvae91}}</td>
        </tr>
        <tr>
          <th>Larvae92</th>
          <td>{{expression.larvae92}}</td>
        </tr>
        <tr>
          <th>Larvae93</th>
          <td>{{expression.larvae93}}</td>
        </tr>
        <tr>
          <th>Larvae94</th>
          <td>{{expression.larvae94}}</td>
        </tr>
        <tr>
          <th>Larvae95</th>
          <td>{{expression.larvae95}}</td>
        </tr>
        <tr>
          <th>Larvae96</th>
          <td>{{expression.larvae96}}</td>
        </tr>
        <tr>
          <th>Larvae97</th>
          <td>{{expression.larvae97}}</td>
        </tr>
        <tr>
          <th>Larvae98</th>
          <td>{{expression.larvae98}}</td>
        </tr>
        <tr>
          <th>Larvae99</th>
          <td>{{expression.larvae99}}</td>
        </tr>
        <tr>
          <th>Larvae100</th>
          <td>{{expression.larvae100}}</td>
        </tr>
        <tr>
          <th>Larvae101</th>
          <td>{{expression.larvae101}}</td>
        </tr>
        <tr>
          <th>Larvae102</th>
          <td>{{expression.larvae102}}</td>
        </tr>
        <tr>
          <th>Larvae103</th>
          <td>{{expression.larvae103}}</td>
        </tr>
        <tr>
          <th>Larvae104</th>
          <td>{{expression.larvae104}}</td>
        </tr>
        <tr>
          <th>Larvae105</th>
          <td>{{expression.larvae105}}</td>
        </tr>
        <tr>
          <th>Larvae106</th>
          <td>{{expression.larvae106}}</td>
        </tr>
        <tr>
          <th>Larvae107</th>
          <td>{{expression.larvae107}}</td>
        </tr>
        <tr>
          <th>Larvae108</th>
          <td>{{expression.larvae108}}</td>
        </tr>
        <tr>
          <th>Larvae109</th>
          <td>{{expression.larvae109}}</td>
        </tr>
        <tr>
          <th>Larvae110</th>
          <td>{{expression.larvae110}}</td>
        </tr>
        <tr>
          <th>Larvae111</th>
          <td>{{expression.larvae111}}</td>
        </tr>
        <tr>
          <th>Larvae112</th>
          <td>{{expression.larvae112}}</td>
        </tr>
        <tr>
          <th>Larvae113</th>
          <td>{{expression.larvae113}}</td>
        </tr>
        <tr>
          <th>Larvae114</th>
          <td>{{expression.larvae114}}</td>
        </tr>
        <tr>
          <th>Larvae115</th>
          <td>{{expression.larvae115}}</td>
        </tr>
        <tr>
          <th>Larvae116</th>
          <td>{{expression.larvae116}}</td>
        </tr>
        <tr>
          <th>Larvae117</th>
          <td>{{expression.larvae117}}</td>
        </tr>
        <tr>
          <th>Larvae118</th>
          <td>{{expression.larvae118}}</td>
        </tr>
        <tr>
          <th>Larvae119</th>
          <td>{{expression.larvae119}}</td>
        </tr>
        <tr>
          <th>Larvae120</th>
          <td>{{expression.larvae120}}</td>
        </tr>
        <tr>
          <th>Larvae121</th>
          <td>{{expression.larvae121}}</td>
        </tr>
        <tr>
          <th>Larvae122</th>
          <td>{{expression.larvae122}}</td>
        </tr>
        <tr>
          <th>Larvae123</th>
          <td>{{expression.larvae123}}</td>
        </tr>
        <tr>
          <th>Larvae124</th>
          <td>{{expression.larvae124}}</td>
        </tr>
        <tr>
          <th>Larvae125</th>
          <td>{{expression.larvae125}}</td>
        </tr>
        <tr>
          <th>Larvae126</th>
          <td>{{expression.larvae126}}</td>
        </tr>
        <tr>
          <th>Larvae127</th>
          <td>{{expression.larvae127}}</td>
        </tr>
        <tr>
          <th>Larvae128</th>
          <td>{{expression.larvae128}}</td>
        </tr>
        <tr>
          <th>Fatboy1</th>
          <td>{{expression.fatboy1}}</td>
        </tr>
        <tr>
          <th>Fatboy2</th>
          <td>{{expression.fatboy2}}</td>
        </tr>
        <tr>
          <th>Fatboy3</th>
          <td>{{expression.fatboy3}}</td>
        </tr>
        <tr>
          <th>Fatboy4</th>
          <td>{{expression.fatboy4}}</td>
        </tr>
        <tr>
          <th>Fatboy5</th>
          <td>{{expression.fatboy5}}</td>
        </tr>
        <tr>
          <th>Fatboy6</th>
          <td>{{expression.fatboy6}}</td>
        </tr>
        <tr>
          <th>Hemocytes1</th>
          <td>{{expression.hemocytes1}}</td>
        </tr>
        <tr>
          <th>Hemocytes2</th>
          <td>{{expression.hemocytes2}}</td>
        </tr>
        <tr>
          <th>Hemocytes3</th>
          <td>{{expression.hemocytes3}}</td>
        </tr>
        <tr>
          <th>Hemocytes4</th>
          <td>{{expression.hemocytes4}}</td>
        </tr>
        <tr>
          <th>Midgut1</th>
          <td>{{expression.midgut1}}</td>
        </tr>
        <tr>
          <th>Midgut2</th>
          <td>{{expression.midgut2}}</td>
        </tr>
        <tr>
          <th>Midgut3</th>
          <td>{{expression.midgut3}}</td>
        </tr>
        <tr>
          <th>Midgut4</th>
          <td>{{expression.midgut4}}</td>
        </tr>
        <tr>
          <th>Midgut5</th>
          <td>{{expression.midgut5}}</td>
        </tr>
        <tr>
          <th>Midgut6</th>
          <td>{{expression.midgut6}}</td>
        </tr>
        <tr>
          <th>Fatboy7</th>
          <td>{{expression.fatboy7}}</td>
        </tr>
        <tr>
          <th>Fatboy8</th>
          <td>{{expression.fatboy8}}</td>
        </tr>
        <tr>
          <th>Fatboy9</th>
          <td>{{expression.fatboy9}}</td>
        </tr>
        <tr>
          <th>Fatboy10</th>
          <td>{{expression.fatboy10}}</td>
        </tr>
        <tr>
          <th>Fatboy11</th>
          <td>{{expression.fatboy11}}</td>
        </tr>
        <tr>
          <th>Fatboy12</th>
          <td>{{expression.fatboy12}}</td>
        </tr>
        <tr>
          <th>Hemocytes5</th>
          <td>{{expression.hemocytes5}}</td>
        </tr>
        <tr>
          <th>Hemocytes6</th>
          <td>{{expression.hemocytes6}}</td>
        </tr>
        <tr>
          <th>Hemocytes7</th>
          <td>{{expression.hemocytes7}}</td>
        </tr>
        <tr>
          <th>Midgut7</th>
          <td>{{expression.midgut7}}</td>
        </tr>
        <tr>
          <th>Midgut8</th>
          <td>{{expression.midgut8}}</td>
        </tr>
        <tr>
          <th>Midgut9</th>
          <td>{{expression.midgut9}}</td>
        </tr>
        <tr>
          <th>Midgut10</th>
          <td>{{expression.midgut10}}</td>
        </tr>
        <tr>
          <th>Midgut11</th>
          <td>{{expression.midgut11}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tabela expressão</th>
          <th>Tratamento</th>
          <th>NCBI_id</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for description in descriptions %}
        <tr>
          <th>{{description.expression}}</th>
          <td>{{description.treatment}}</td>
          <td>{{description.ncbi_id}}</td>
          <td>{{description.condition_description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
