{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Visitante SSRNAi Buvas' 
or request.user|has_group:'Admin SSRNAi Buvas' or request.user|has_group:'CTI' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>dsRNA</th>
          <th>
            <div class="row">
              <div class="col-md-12">Localização no dsRNA</div>
            </div>
            <div class="row">
              <div class="col-md-6">Início</div>
              <div class="col-md-6">Fim</div>
            </div>  
          </th>
          <th>Número de on-targets</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{gene.gene_name}}_{{dsRNA.dsrna_name}}</td>
          <td>
            <div class="row">
              <div class="col-md-6">{{ontarget.start_dsrna}}</div>
              <div class="col-md-6">{{ontarget.end_dsrna}}</div>
            </div> 
          </td>
          <td>{{ontarget.number_ontarget}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} 
{% endblock content %}