{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Visitante SSRNAi Buvas' 
or request.user|has_group:'Admin SSRNAi Buvas' or request.user|has_group:'CTI' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Gene</th>
          <td>{{gene.gene_name}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Q17_R1_POST</th>
          <td>{{expression.Q17_R1_POST}}</td>
        </tr>
        <tr>
          <th>Q17_R1_PRE</th>
          <td>{{expression.Q17_R1_PRE}}</td>
        </tr>
        <tr>
          <th>Q17_R5_POST</th>
          <td>{{expression.Q17_R5_POST}}</td>
        </tr>
        <tr>
          <th>Q17_R5_PRE</th>
          <td>{{expression.Q17_R5_PRE}}</td>
        </tr>
        <tr>
          <th>Q21_S4_POST</th>
          <td>{{expression.Q21_S4_POST}}</td>
        </tr>
        <tr>
          <th>Q21_S4_PRE</th>
          <td>{{expression.Q21_S4_PRE}}</td>
        </tr>
        <tr>
          <th>Q21_S5_POST</th>
          <td>{{expression.Q21_S5_POST}}</td>
        </tr>
        <tr>
          <th>Q21_S5_PRE</th>
          <td>{{expression.Q21_S5_PRE}}</td>
        </tr>
        <tr>
          <th>Q21_S7_POST</th>
          <td>{{expression.Q21_S7_POST}}</td>
        </tr>
        <tr>
          <th>Q21_S7_PRE</th>
          <td>{{expression.Q21_S7_PRE}}</td>
        </tr>
        <tr>
          <th>Q34_S1_POST</th>
          <td>{{expression.Q34_S1_POST}}</td>
        </tr>
        <tr>
          <th>Q34_S1_PRE</th>
          <td>{{expression.Q34_S1_PRE}}</td>
        </tr>
        <tr>
          <th>Q34_S2_POST</th>
          <td>{{expression.Q34_S2_POST}}</td>
        </tr>
        <tr>
          <th>Q34_S2_PRE</th>
          <td>{{expression.Q34_S2_PRE}}</td>
        </tr>
        <tr>
          <th>Q34_S5_POST</th>
          <td>{{expression.Q34_S5_POST}}</td>
        </tr>
        <tr>
          <th>Q34_S5_PRE</th>
          <td>{{expression.Q34_S5_PRE}}</td>
        </tr>
        <tr>
          <th>Q42_R4_POST</th>
          <td>{{expression.Q42_R4_POST}}</td>
        </tr>
        <tr>
          <th>Q42_R4_PRE</th>
          <td>{{expression.Q42_R4_PRE}}</td>
        </tr>
        <tr>
          <th>Q42_R5_POST</th>
          <td>{{expression.Q42_R5_POST}}</td>
        </tr>
        <tr>
          <th>Q42_R5_PRE</th>
          <td>{{expression.Q42_R5_PRE}}</td>
        </tr>
        <tr>
          <th>Q42_R6_POST</th>
          <td>{{expression.Q42_R6_POST}}</td>
        </tr>
        <tr>
          <th>Q42_R6_PRE</th>
          <td>{{expression.Q42_R6_PRE}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tabela expressão</th>
          <th>Tratamento</th>
          <th>NCBI_id</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for description in descriptions %}
        <tr>
          <th>{{description.expression}}</th>
          <td>{{description.treatment}}</td>
          <td>{{description.ncbi_id}}</td>
          <td>{{description.condition_description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
