{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Visitante SSRNAi Buvas' 
or request.user|has_group:'Admin SSRNAi Buvas' or request.user|has_group:'CTI' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Início</th>
          <th>Fim<</th>
          <th>Hits</th>
          <th>Descrição dos hits</th>
        </tr>
      </thead>
      <tbody>
        {% for offtarget in offtargets %}
        <tr>
          <td>{{offtarget.start}}</td>
          <td>{{offtarget.end}}</td>
          <td>{{offtarget.hits}}</td>
          <td>{{offtarget.hits_description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
