{% extends "base/base_ssrnai.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Database Search</title> {% endblock title %} {% block
content %}
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Visitante SSRNAi Buvas' 
or request.user|has_group:'Admin SSRNAi Buvas' or request.user|has_group:'CTI' or request.user.is_superuser %}
  <div class="row">
    <div class="col-md-6"><h4 class="ssrnai-titles">Campos de Buscas</h4></div>
    <div class="col-md-6"><h4 class="ssrnai-titles">Análises</h4></div>
  </div>
  <hr />
  <div class="row">
    <form action="/ssrnai/buva/buva_results/" class="form-horizontal" method="GET">
      <input type="hidden" name="db" value={{database.id}} />
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label for="organisms">Escolha o organismo:</label>
              <select class="form-control" id="organisms" name="organism">
              <option value='0'>Todos os organismos</option>
              {% for organism in organisms %}
              <option value={{organism.id}}>{{organism.organism_name}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="mt-10" for="gene">Gene:</label>
              <input class="form-control" id="gene" name="gene" type="text" placeholder="Digite o gene">
              <p style="padding-top: 10px;">Exemplo de genes para a busca: TRINITY_DN10132_c0_g1_i1, TRINITY_DN10450_c0_g1_i1, TRINITY_DN11088_c0_g1_i1,
                TRINITY_DN11628_c0_g1_i2, TRINITY_DN12469_c0_g1_i1</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="mt-10" for="gene_function">Função gênica:</i></label>
              <input class="form-control" id="gene_function" name="gene_function" type="text" placeholder="Digite a função gênica">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="mt-10" for="go_function">GO:</label>
              <input class="form-control" id="go_function" name="go_function" type="text" placeholder="Digite o gene ontology">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <label class="mt-30 vcenter" for="iscore" style="color:	#D3D3D3;"><i>iSCORE:</i></label>
          </div>
          <div class="col-md-3">
            <label for="min_iscore" class="vcenter" style="color:	#D3D3D3;"><i>Min</i></label>
            <input class="form-control" id="min_iscore" name="min_iscore" type="text">
          </div>
          <div class="col-md-3">
            <label for="max_iscore" class="vcenter" style="color:	#D3D3D3;"><i>Max</i></label>
            <input class="form-control" id="max_iscore" name="max_iscore" type="text">
          </div>
          <div class="col-md-3">
            <label class="vcenter" style="color:	#D3D3D3;"><i>Range</i></label>
            <p class="mt-10 vcenter" style="color:	#D3D3D3;"><i>0-100</i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label class="mt-30 vcenter" for="dicer" style="color:	#D3D3D3;"><i>DICER:</i></label>
          </div>
          <div class="col-md-3">
            <label for="min_dicer" class="vcenter" style="color:	#D3D3D3;"><i>Min</i></label>
            <input class="form-control" id="min_dicer" name="min_dicer" type="text">
          </div>
          <div class="col-md-3">
            <label for="max_dicer" class="vcenter" style="color:	#D3D3D3;"><i>Max</i></label>
            <input class="form-control" id="max_dicer" name="max_dicer" type="text">
          </div>
          <div class="col-md-3">
            <p class="mt-30 vcenter" style="color:	#D3D3D3;"><i>0-100</i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label class="mt-20 vcenter" for="dicer" style="color:	#D3D3D3;"><i>Estrutura secundária:</i></label>
          </div>
          <div class="col-md-3">
            <label for="min_structure" class="vcenter" style="color:	#D3D3D3;"><i>Min</i></label>
            <input class="form-control" id="min_structure" name="min_structure" type="text">
          </div>
          <div class="col-md-3">
            <label for="max_structure" class="vcenter" style="color:	#D3D3D3;"><i>Max</i></label>
            <input class="form-control" id="max_structure" name="max_structure" type="text">
          </div>
          <div class="col-md-3">
            <p class="mt-30 vcenter" style="color:	#D3D3D3;"><i>0-100</i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label class="mt-30 vcenter" for="dicer" style="color:	#D3D3D3;"><i>Expressão:</i></label>
          </div>
          <div class="col-md-3">
            <label for="min_expression" class="vcenter" style="color:	#D3D3D3;"><i>Min</i></label>
            <input class="form-control" id="min_expression" name="min_expression" type="text">
          </div>
          <div class="col-md-3">
            <label for="max_expression" class="vcenter" style="color:	#D3D3D3;"><i>Max</i></label>
            <input class="form-control" id="max_expression" name="max_expression" type="text">
          </div>
          <div class="col-md-3">
            <p class="mt-30 vcenter" style="color:	#D3D3D3;"><i>0-10.000</i></p>
          </div>
        </div>  
        <div class="row">
          <div class="col-md-3">
            <label class="mt-20 vcenter" for="dicer" style="color:	#D3D3D3;"><i>Número de On-target:</i></label>
          </div>
          <div class="col-md-3">
            <label for="min_ontarget_number" class="vcenter" style="color:	#D3D3D3;"><i>Min</i></label>
            <input class="form-control" id="min_ontarget_number" name="min_ontarget_number" type="text">
          </div>
          <div class="col-md-3">
            <label for="max_ontarget_number" class="vcenter" style="color:	#D3D3D3;"><i>Max</i></label>
            <input class="form-control" id="max_ontarget_number" name="max_ontarget_number" type="text">
          </div>
          <div class="col-md-3">
            <p class="mt-30 vcenter" style="color:	#D3D3D3;"><i>0-250</i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 vcenter">
            <div id="loader" style="display: none;"><img src="/media/ssrnai/ajax-loader.gif"></div>
            <input id="search" class="btn btn-primary btn-analize mt-10" type="submit" value="Buscar"/>
          </div>
        </div>
      </div>
    </form>
  </div>
{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
