{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>dsRNA</th>
          <th>Sítios da DICER</th>
          <th>Tamanho da região com sítios da DICER</th>
          <th>Localização da região com sítios da DICER</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{gene.gene_name}}_{{dsRNA.dsrna_name}}</td>
          <td>{{dicer.sirna_number}}</td>
          <td>{{dicer.coverage}}</td>
          <td>{{dicer.location}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
