{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Admin SSRNAi Capim' or 
request.user|has_group:'Visitante SSRNAi Capim' or request.user|has_group:'CTI' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Gene</th>
          <td>{{gene.gene_name}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>exilis_Spike</th>
          <td>{{expression.exilis_Spike}}</td>
        </tr>
        <tr>
          <th>exilis_Grain</th>
          <td>{{expression.exilis_Grain}}</td>
        </tr>
        <tr>
          <th>exilis_Seedling</th>
          <td>{{expression.exilis_Seedling}}</td>
        </tr>
        <tr>
          <th>exilis_leaf</th>
          <td>{{expression.exilis_leaf}}</td>
        </tr>
        <tr>
          <th>exilis_whole</th>
          <td>{{expression.exilis_whole}}</td>
        </tr>
        <tr>
          <th>eriantha_whole</th>
          <td>{{expression.eriantha_whole}}</td>
        </tr>
        <tr>
          <th>cuyabensis_whole</th>
          <td>{{expression.cuyabensis_whole}}</td>
        </tr>
        <tr>
          <th>sanguinalis_Resist1</th>
          <td>{{expression.sanguinalis_Resist1}}</td>
        </tr>
        <tr>
          <th>sanguinalis_Resist2</th>
          <td>{{expression.sanguinalis_Resist2}}</td>
        </tr>
        <tr>
          <th>sanguinalis_Suscep1</th>
          <td>{{expression.sanguinalis_Suscep1}}</td>
        </tr>
        <tr>
          <th>sanguinalis_Suscep2</th>
          <td>{{expression.sanguinalis_Suscep2}}</td>
        </tr>
        <tr>
          <th>ciliaris_leaves</th>
          <td>{{expression.ciliaris_leaves}}</td>
        </tr>
        <tr>
          <th>ciliaris_roots</th>
          <td>{{expression.ciliaris_roots}}</td>
        </tr>
        <tr>
          <th>ciliaris_leave</th>
          <td>{{expression.ciliaris_leave}}</td>
        </tr>
        <tr>
          <th>ciliaris_root</th>
          <td>{{expression.ciliaris_root}}</td>
        </tr>
        <tr>
          <th>milanjiana_Whole</th>
          <td>{{expression.milanjiana_Whole}}</td>
        </tr>
        <tr>
          <th>californica_leaf1</th>
          <td>{{expression.californica_leaf1}}</td>
        </tr>
        <tr>
          <th>californica_leaf2</th>
          <td>{{expression.californica_leaf2}}</td>
        </tr>
        <tr>
          <th>californica_leaf3</th>
          <td>{{expression.californica_leaf3}}</td>
        </tr>
        <tr>
          <th>californica_leaf4</th>
          <td>{{expression.californica_leaf4}}</td>
        </tr>
        <tr>
          <th>californica_leaf5</th>
          <td>{{expression.californica_leaf5}}</td>
        </tr>
        <tr>
          <th>californica_leaf6</th>
          <td>{{expression.californica_leaf6}}</td>
        </tr>
        <tr>
          <th>ciliaris_Resist1</th>
          <td>{{expression.ciliaris_Resist1}}</td>
        </tr>
        <tr>
          <th>ciliaris_Resist2</th>
          <td>{{expression.ciliaris_Resist2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tabela expressão</th>
          <th>Tratamento</th>
          <th>NCBI_id</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for description in descriptions %}
        <tr>
          <th>{{description.expression}}</th>
          <td>{{description.treatment}}</td>
          <td>{{description.ncbi_id}}</td>
          <td>{{description.condition_description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
