{% extends "base/base.html" %}

{% load bootstrap3 %}
{% load gbp_filters %}

{% block title %} <title>Dashboard Approaches</title> {% endblock title %}

{% block content %}

<style> .panel-heading { cursor: pointer; } </style>

<div style="min-width: 30%; float: right; padding-top: 24px;">
  <div style="float: right;">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <select id="listar_approach" class="form-control" name="listar_approach" onChange="redirectUrl()">
            <option value="0">All</option>
            {% for approach in Approaches_list %}
              <option value="{{approach.id}}">{{approach|truncatechars:36}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<br/><br/><br/>
<hr/>

{% for approach in Approaches %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne{{ approach.id }}" data-toggle="collapse" data-target="#collapseOne{{ approach.id }}">
          <h4 class="panel-title">
             {{ approach }}
          </h4>
        </div>

        <div id="collapseOne{{ approach.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne{{ approach.id }}">
          <div class="panel-body">
            <p><b>Project:</b> <br/> <div class='text-highlight'><a href="{% url 'detail_projeto' approach.project.id %}">{{ approach.project }}</a>&nbsp;</div></p>
            <p><b>Name:</b> <br/> <div class='text-highlight'>{{ approach.name }}&nbsp;</div></p>
            <p><b>Description:</b> <br/> <div class='text-highlight'>{{ approach.description }}&nbsp;</div></p>
            <p><b>Created:</b> <br/> <div class='text-highlight'>{{ approach.data_cadastro }}&nbsp;</div></p>
          </div>
        </div>
      </div>
  </div>

  <hr/>
{% endfor %}

<script>
  $(function(){

    $('#listar_approach').val({{approach_id}});

    $('#listar_approach').on('change', function () {

    if ($(this).val() != 0) {
      var url = '/metabolomica/dashboard-approach/' + $(this).val() + '/';

      if (url) {
        window.location = url;
      }
    }
    else {
      window.location = '{% url 'dashboard_approach' %}';
    }

    return false;
  });
});
</script>

{% endblock content %}
