{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Plano de Ação - {{ planoacao.nome }}</title> {% endblock title %}

{% block content %}

    <h2>{{ object }}</h2>
    <hr/>
    <p><b>Número:</b> {{ planoacao.numero }}</p>
    <p><b>Responsável: </b> {{ planoacao.responsavel }}</p>
    <p><b>Codigo SEG: </b> {{ planoacao.codigo_seg }}
    <p><b>Data Início: </b> {{ planoacao.data_inicio }}
    <p><b>Data Fim: </b> {{ planoacao.data_fim }}
   
    <p>
      <b>Objetivos Associados:</b>
      {% for objetivo in planoacao.resultado.objetivo.all %}
        <a href="{% url 'detail_objetivo_projeto' objetivo.id %}">{{ objetivo }}</a>
      {% endfor %}
    </p>
    <p>
      <b>Resultados Associados:</b>
      {% for resultado in planoacao.resultado.all %}
        <a href="{% url 'detail_resultado_projeto' resultado.id %}">{{ resultado }}</a>
      {% endfor %}
    </p>
    

    <p><b>Cadastrado:</b> {{ planoacao.data_cadastro }}</p>
    <p><b>Atualizado:</b> {{ planoacao.data_atualizado }}</p>

    <hr/>
    {% if request.user == planoacao.criado_por or request.user.is_superuser %}
      <p>
        <a href="{{ planoacao.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>  
        <a href="{{ planoacao.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a> 
        <a href="{% url 'list_planoacao_projeto' %}" class="btn btn-sm btn-info">Voltar</a>
      </p>
    {% endif %}
{% endblock content %}
