{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Cadastrar/Editar Plano de Ação</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}

        <div class="modal-footer">
            {% buttons %}
              <button type="submit" class="btn btn-default btn-success">Enviar <span class="glyphicon glyphicon-ok"></span></button>
              <a href="javascript:window.history.go(-1)" class="btn btn-default btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</a>
              <a href="{% url 'new_atividade_projeto' %}" class="btn btn-default btn-info">Próximo <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% endbuttons %}
        </div>
    </form>

    <script type="text/javascript">
      $(document).ready(function() {
        $(function() { $('#id_data_inicio').datepicker({ language: 'pt-BR' }); });
        $(function() { $('#id_data_fim').datepicker({ language: 'pt-BR' }); });
      });
    </script>

    <script>
      var value = {};

      {% for projeto in projetos %}
        value[{{projeto.projeto_id}}] = {{projeto.total}};
      {% endfor %}

      $(function(){
        $('#id_projeto').on('change', function () {
          if ($(this).val() != 0) {

            if (value[$(this).val()])
              $('#id_numero').val(value[$(this).val()] + 1);
            else
              $('#id_numero').val(1);
          }
          else {
            $('#id_numero').val(1);
          }

          return false;
        });
      });
    </script>

{% endblock content %}
