{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Cadastrar/Editar Instituicao de Projeto</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}

        <div class="modal-footer">
            {% buttons %}
              <button type="submit" class="btn btn-default btn-success">Enviar <span class="glyphicon glyphicon-ok"></span></button>
              <a href="javascript:window.history.go(-1)" class="btn btn-default btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</a>
            {% endbuttons %}
        </div>

    </form>

{% endblock content %}
