{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Cadastrar/Editar Resultado de Projeto</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}

        <div class="modal-footer">
            {% buttons %}
               <button type="submit" class="btn btn-default btn-success">Enviar <span class="glyphicon glyphicon-ok"></span></button>
               <a href="javascript:window.history.go(-1)" class="btn btn-default btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</a>
               <a href="{% url 'new_projetocomponente_projeto' %}" class="btn btn-default btn-info">Próximo <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% endbuttons %}
        </div>
    </form>

    <tbody class="resultados">
       {% include 'resultados.html' %}
    </tbody>

    <script>
      var value = {};

      {% for projeto in projetos %}
        value[{{projeto.projeto_id}}] = {{projeto.total}};
      {% endfor %}

      $(function() {
        if ($('#id_projeto').val() != 0) {
          $('#resultados').html('').load("/resultado/ajax/projeto/" + $('#id_projeto').val());
          $('#resultados').show();
        }

        $('#id_projeto').on('change', function () {
          if ($(this).val() != 0) {
            if (value[$(this).val()]) {
              $('#resultados').html('').load("/resultado/ajax/projeto/" + $(this).val());
              $('#resultados').show();
              $('#id_numero').val(value[$(this).val()] + 1);
            }
            else {
              $('#resultados').hide();
              $('#id_numero').val(1);
            }
          }
          else {
            $('#resultados').hide();
            $('#id_numero').val(1);
            $('#id_projeto').val("");
          }

          return false;
        });
      });
    </script>

{% endblock content %}
