{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Listar Todos os Resultados de Projetos</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    {% if not resultados %}

      <div class="jumbotron"><h4>Nenhum Dado Cadastrado. <a href="{% url 'new_resultado_projeto' %}">Cadastrar?</a> </h4</div>

    {% else %}

        {% include 'base/sort_links.html' %}

        {% for resultado in resultados %}
            <ul class="list-group">
              <li class="list-group-item">
                
                <h3><a href="{{ resultado.get_detail_url }}">{{ resultado }}</a></h3>
                
                <b>Projeto Associado:</b>
                <a href="{% url 'detail_projeto' resultado.projeto.id %}">{{ resultado.projeto }}</a>
                <br/>
                
                
                {% if request.user == resultado.criado_por or request.user.is_superuser %}
                <br/>
                  <p>
                    <a href="{{ resultado.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>  
                    <a href="{{ resultado.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                  </p>
                {% endif %}

                <div class="data-atualizado">{{ resultado.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}
        
    {% endif %} 

{% endblock content %}
