{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>{{ equipment.name }}</title> {% endblock title %}

{% block content %}

    {% include "base/menu-metabolomica.html" %} <br/>

    <h2>{{ equipment.name }}</h2>

    <hr/>

    <p><b>Added:</b> <br/> <div class='text-highlight'>{{ equipment.data_cadastro }}&nbsp;</div></p>

    <hr/>

      <p>
        {% buttons %}
          <a href="/metabolomica{{ equipment.get_update_url }}" class="btn btn-sm btn-warning">Update</a>
          {% if request.user == equipment.criado_por or request.user.is_superuser %}
            <a href="/metabolomica{{ equipment.get_delete_url }}" class="btn btn-sm btn-danger">Delete</a>
          {% endif %}
            <a href="javascript:window.history.go(-1)" class="btn btn-sm btn-info"></span> Back</a>
        {% endbuttons %}
      </p>

{% endblock content %}
