{% extends "base/base_bmdb.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input class="btn btn-primary" type="button" value="Voltar" onClick="javascript:history.go(-1);"/>
<h2>{{ database.name }}</h2>
<hr />
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Admin SSRNAi Nematoides' or
request.user|has_group:'Visitante SSRNAi Nematoides' or request.user|has_group:'CTI' or request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Gene</th>
          <td>{{gene.gene_name}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>MI_egg_2</th>
          <td>{{expression.MI_egg_2}}</td>
        </tr>
        <tr>
          <th>MI_J3_3</th>
          <td>{{expression.MI_J3_3}}</td>
        </tr>
        <tr>
          <th>MI_J4_3</th>
          <td>{{expression.MI_J4_3}}</td>
        </tr>
        <tr>
          <th>MI_J4_2</th>
          <td>{{expression.MI_J4_2}}</td>
        </tr>
        <tr>
          <th>MI_egg_1</th>
          <td>{{expression.MI_egg_1}}</td>
        </tr>
        <tr>
          <th>MI_J4_1</th>
          <td>{{expression.MI_J4_1}}</td>
        </tr>
        <tr>
          <th>MI_female_2</th>
          <td>{{expression.MI_female_2}}</td>
        </tr>
        <tr>
          <th>MI_female_1</th>
          <td>{{expression.MI_female_1}}</td>
        </tr>
        <tr>
          <th>MI_female_3</th>
          <td>{{expression.MI_female_3}}</td>
        </tr>
        <tr>
          <th>MI_J2_2</th>
          <td>{{expression.MI_J2_2}}</td>
        </tr>
        <tr>
          <th>MI_J3_1</th>
          <td>{{expression.MI_J3_1}}</td>
        </tr>
        <tr>
          <th>MI_J2_3</th>
          <td>{{expression.MI_J2_3}}</td>
        </tr>
        <tr>
          <th>MI_J3_2</th>
          <td>{{expression.MI_J3_2}}</td>
        </tr>
        <tr>
          <th>MI_J2_1</th>
          <td>{{expression.MI_J2_1}}</td>
        </tr>
        <tr>
          <th>MI_egg_3</th>
          <td>{{expression.MI_egg_3}}</td>
        </tr>
        <tr>
          <th>Nig_2_Rep3</th>
          <td>{{expression.Nig_2_Rep3}}</td>
        </tr>
        <tr>
          <th>Nig_2_Rep2</th>
          <td>{{expression.Nig_2_Rep2}}</td>
        </tr>
        <tr>
          <th>Nig_3_Rep1</th>
          <td>{{expression.Nig_3_Rep1}}</td>
        </tr>
        <tr>
          <th>Nig_2_Rep1</th>
          <td>{{expression.Nig_2_Rep1}}</td>
        </tr>
        <tr>
          <th>Nig_1_Rep3</th>
          <td>{{expression.Nig_1_Rep3}}</td>
        </tr>
        <tr>
          <th>Nig_1_Rep2</th>
          <td>{{expression.Nig_1_Rep2}}</td>
        </tr>
        <tr>
          <th>Nig_1_Rep1</th>
          <td>{{expression.Nig_1_Rep1}}</td>
        </tr>
        <tr>
          <th>Ken_1_Rep3</th>
          <td>{{expression.Ken_1_Rep3}}</td>
        </tr>
        <tr>
          <th>Nig_3_Rep2</th>
          <td>{{expression.Nig_3_Rep2}}</td>
        </tr>
        <tr>
          <th>Nig_3_Rep3</th>
          <td>{{expression.Nig_3_Rep3}}</td>
        </tr>
        <tr>
          <th>Ken_1_Rep1</th>
          <td>{{expression.Ken_1_Rep1}}</td>
        </tr>       								        
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tabela expressão</th>
          <th>Tratamento</th>
          <th>NCBI_id</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for description in descriptions %}
        <tr>
          <th>{{description.expression}}</th>
          <td>{{description.treatment}}</td>
          <td>{{description.ncbi_id}}</td>
          <td>{{description.condition_description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
