{% extends "base/base_ssrnai.html" %} {% load gbp_filters %} {% load bootstrap3 %}
{% block title %} <title>Show organism</title> {% endblock title %} {% block
content %}
<input
  class="btn btn-primary"
  type="button"
  value="Voltar"
  onClick="window.location.href='/ssrnai/nematoide/nematoide_database_search/3';"
/>
{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Admin SSRNAi Nematoides' or
request.user|has_group:'Visitante SSRNAi Nematoides' or request.user|has_group:'CTI' or
request.user.is_superuser %}
  {% if not not results %}
    <a href="/media/ssrnai/Nematoides/FilesToDownload/results.csv" download><button class="btn btn-primary">Download</button></a>
  {% endif %}
{% endif %}
<h2>BD SSRNAi Nematoides</h2>
<hr />

{% if request.user|has_group:'Editor RIDB' or request.user|has_group:'Admin
RIDB' or request.user|has_group:'Admin SSRNAi Nematoides' or
request.user|has_group:'Visitante SSRNAi Nematoides' or request.user|has_group:'CTI' or
request.user.is_superuser %}

  {% if not results %}
    <div class="container" style="max-width: device-width"><h4>Sua busca não retornou nenhum resultado do banco de dados!!!</h4></div>
  {% else %}

    <div class="container" style="max-width: device-width">
      <div class="row" style="overflow-x: auto">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Gene</th>
                <th scope="col">Função gênica</th>
                <th scope="col">GO</th>
                <th scope="col">Tamanho CDS</th>
                <th scope="col">Expressão</th>
                <th scope="col">dsRNA</th>
                <th scope="col">Localização</th>
                <th scope="col">Sequência</th>
                <th scope="col">i-Score</th>
                <th scope="col">DICER</th>
                <th scope="col">Estrutura</th>
                <th scope="col">On-Target</th>
                <th scope="col">Off-Target</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
              <tr>
                <td>{{result.1}}</td>
                {% if result.2 != '' %}
                  <td style="white-space: pre-wrap">{{result.2}}</td>
                {% else %}
                  <td>-</td>
                {% endif %} {% if result.3 != None %}
                <td>{{result.3}}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>{{result.4}}</td>
                {% if result.5 != '-' %}
                <td>
                  <button
                    type="button"
                    class="btn"
                    onclick="window.location.href='/ssrnai/nematoide/nematoide_expression/{{result.5}}';"
                  >
                    Expressão
                  </button>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>{{result.6}}</td>
                <td>{{result.7}}</td>
                {% if result.8 != '-' %}
                <td>
                  <button
                    type="button"
                    class="btn"
                    onclick="window.location.href='/ssrnai/nematoide/nematoide_sequence/{{result.8}}';"
                  >
                    Sequencia
                  </button>
                </td>
                {% else %}
                <td>-</td>
                {% endif %} {% if result.9 != '-' %}
                <td>
                  <div class="row">
                    <div class="col-md-12">
                      <button
                        type="button"
                        class="btn"
                        onclick="window.location.href='/ssrnai/nematoide/nematoide_iscore/{{result.9}}';"
                      >
                        iScore
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">DSIR</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{result.10}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">iSCORE</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{result.11}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">sBiopredsi</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{result.12}}</div>
                  </div>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>
                  {% if result.13 != '-' %}
                  <div class="row">
                    <div class="col-md-12">
                      <button
                        type="button"
                        class="btn"
                        onclick="window.location.href='/ssrnai/nematoide/nematoide_dicer/{{result.13}}';"
                      >
                        DICER
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">Número</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{result.14}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">Tamanho</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{result.15}}</div>
                  </div>
                  {% else %}
                  <div class="row">
                    <div class="col-md-12">{{result.15}}</div>
                  </div>
                  {% endif %}
                </td>
                <td>
                  {% if result.16 != '-' %}
                  <div class="row">
                    <div class="col-md-12">
                      <button
                        type="button"
                        class="btn"
                        onclick="window.location.href='/ssrnai/nematoide/nematoide_structure/{{result.16}}';"
                      >
                        Estrutura
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">Classificação</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">{{result.17}}</div>
                  </div>
                  {% else %}
                  <div class="row">
                    <div class="col-md-12">{{result.16}}</div>
                  </div>
                  {% endif %}
                </td>
                {% if result.18 != '-' %}
                <td>
                  <button
                    type="button"
                    class="btn"
                    onclick="window.location.href='/ssrnai/nematoide/nematoide_on_target/{{result.18}}';"
                  >
                    On-Target
                  </button>
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>-</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="loader" style="display: none;"><img src="/media/ssrnai/ajax-loader.gif"></div>
        {% include 'base/pagination_ssrnai.html' %}
      </div>
    </div>
  {% endif %}
{% else %}
  <h3>Você não possui permissão</h3>
{% endif %} {% endblock content %}>
