  <div id="planoacaos">
      {% for planoacao in planoacaos %}
        <ul class="list-group">
          <li class="list-group-item">
              <h4><a href="{{ planoacao.get_detail_url }}">{{ planoacao }}</a></h4>
              <p><b>Descrição:</b> <br/> <div class='text-highlight'>{{planoacao.nome}}&nbsp;</div></p>

              {% if planoacao.projeto_componente.all %}
                <p><b>Projeto Componente:</b> <br/> <div class='text-highlight'>
                  {% for projetocomponente in planoacao.projeto_componente.all %}{% if not forloop.first %}, {% endif %}
                    {{ projetocomponente }}{% endfor %}
                &nbsp;</div></p>
              {% endif %}

              <p><b>Período:</b> <br/> <div class='text-highlight'>{{planoacao.data_inicio}} - {{planoacao.data_fim}}&nbsp;</div></p>
              <br/>
              <p style="float: right;">
                {% if request.user == planoacao.criado_por or request.user.is_superuser %}
                  <a href="{{ planoacao.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
                  <a href="{{ planoacao.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                {% endif %}
            </p>
           <br/><br/>
          </li>
        </ul>
      {% endfor %}
  </div>
