{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>{{ tarefa.nome }}</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <h2>{{ tarefa }}</h2>

    <hr/>

    <p><b>Projeto</b> <br/> <div class='text-highlight'> {{ tarefa.projeto }}&nbsp;</div></p>
    <p><b>Número:</b> <br/> <div class='text-highlight'> {{ tarefa.numero }}&nbsp;</div></p>
    <p><b>Indicador Físico</b> <br/> <div class='text-highlight'> {{ tarefa.indicador_fisico }}&nbsp;</div></p>
    <p><b>Responsável: </b> <br/> <div class='text-highlight'> {{ tarefa.responsavel }}&nbsp;</div></p>
    <p><b>Peso no Plano de Ação: </b> <br/> <div class='text-highlight'> {{ tarefa.peso_atividade }}&nbsp;</div></p>


    <p><b>Colaborador(es): </b> <br/> <div class='text-highlight'>
    {% for colaborador in tarefa.colaborador.all %}{% if not forloop.first %}, {% endif %}
      {{ colaborador }}{% endfor %}
    &nbsp;</div></p>

    <p><b>Plano de Ação associado: </b> <br/> <div class='text-highlight'> <a href="{% url 'detail_planoacao_projeto' tarefa.planoacao.id %}">{{ tarefa.planoacao }}</a>&nbsp;</div></p>

    <p> <b>Atividade associada: </b> <br/> <div class='text-highlight'> <a href="{% url 'detail_atividade_projeto' tarefa.atividade.id %}">{{ tarefa.atividade }}</a>&nbsp;</div></p>

    <p><b>Cadastrado:</b> <br/> <div class='text-highlight'> {{ tarefa.data_cadastro }}&nbsp;</div></p>

    <hr/>
    {% if request.user == tarefa.criado_por or request.user.is_superuser %}
      <p>
        <a href="{{ tarefa.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
        <a href="{{ tarefa.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
        <a href="{% url 'list_tarefa_projeto' %}" class="btn btn-sm btn-info">Voltar</a>
      </p>
    {% endif %}

{% endblock content %}
