{% extends "base/base.html" %}
{% load gbp_filters %}

{% load bootstrap3 %}

{% block title %} <title>Listar Todas as Tarefas</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <div style="min-width: 60%; float: right;">
      {% if request.user|has_group:'Admin Projetos' or request.user|has_group:'Editor Projetos' or request.user.is_superuser %}
        <div style="float: right;">
          <a href="{% url 'new_tarefa_projeto' %}" class="btn btn-sm btn-success">Adicionar</a>
        </div>
      {% endif %}

      <div style="float: left;">
        <div class="form-horizontal"><div class="form-group">
          <div class="col-md-12">
            <select id="listar_projeto" class="form-control" name="listar_projeto" onChange="redirectUrl()">
              <option value="0">Todos os Projetos</option>
              {% for projeto in projetos %}
                <option value="{{projeto.id}}">{{projeto}}</option>
              {% endfor %}
            </select>
          </div>
        </div></div>
      </div>
    </div>
    <br/><br/>

    {% if not tarefas %}

      <div class="jumbotron"><h4>Nenhum Dado Cadastrado.</h4></div>

    {% else %}

        {% include 'base/sort_links.html' %}

        {% for tarefa in tarefas %}
            <ul class="list-group">
              <li class="list-group-item">

                <h3><a href="{{ tarefa.get_detail_url }}">{{ tarefa }}</a></h3>

                {% if tarefa.planoacao.all %}
                  <p><b>Plano de Ação associado:</b> <br/> <div class='text-highlight'>
                    {% for planoacao in tarefa.planoacao.all %}{% if not forloop.first %}, {% endif %}
                      <a href="{% url 'detail_planoacao_projeto' planoacao.id %}">{{ planoacao }}</a>{% endfor %}
                      &nbsp;</div></p>
                {% endif %}

                {% if tarefa.atividade.all %}
                  <p><b>Atividade associado:</b> <br/> <div class='text-highlight'>
                    {% for atividade in tarefa.atividade.all %}{% if not forloop.first %}, {% endif %}
                      <a href="{% url 'detail_atividade_projeto' atividade.id %}">{{ atividade }}</a>{% endfor %}
                      &nbsp;</div></p>
                {% endif %}

                <br/>

                {% if request.user == tarefa.criado_por or request.user.is_superuser %}
                  <p>
                    <a href="{{ tarefa.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{{ tarefa.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                  </p>
                {% endif %}

                <div class="data-atualizado">{{ tarefa.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}

    {% endif %}

    <script>
        $(function(){
          $('#listar_projeto').val({{projeto_id}});

          $('#listar_projeto').on('change', function () {

          if ($(this).val() != 0) {
            var url = '/tarefa/list/projeto/' + $(this).val();

            if (url) {
              window.location = url;
            }
          }
          else {
            window.location = '{% url 'list_tarefa_projeto' %}';
          }

          return false;
        });
      });
    </script>

{% endblock content %}
