{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>List all Samples</title> {% endblock title %}

{% block content %}

    {% include "base/menu-metabolomica.html" %} <br/>

    <div style="min-width: 50%; float: right;">
      <div style="float: right;">
        <a href="{% url 'new_sample' %}" class="btn btn-sm btn-success">Add</a>
      </div>
    </div>

    {% if not samples %}

      <div class="jumbotron"><h4>No files were found. <a href="{% url 'new_sample' %}">Add?</a> </h4></div>

    {% else %}

        {% include 'base/sort_links.html' %}
        {% for sample in samples %}
            <ul class="list-group">
              <li class="list-group-item">

                <h3><a href="/metabolomica{{ sample.get_detail_url }}">{{ sample.lab_code }}</a></h3>
                </br>
                <p><b>Species: </b> <br/>

		<div class='text-highlight'> {{ sample.species }}&nbsp;</div><br/>
                <p>
                      <a href="/metabolomica{{ sample.get_update_url }}" class="btn btn-sm btn-warning">Update</a>
                      {% if request.user == sample.criado_por or request.user.is_superuser %}
                        <a href="/metabolomica{{ sample.get_delete_url }}" class="btn btn-sm btn-danger">Delete</a>
                      {% endif %}
                </p>

                <div class="data-atualizado">{{ sample.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}

    {% endif %}

{% endblock content %}
