{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>Cadastrar/Editar Atividade</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}

        <div class="modal-footer">
            {% buttons %}
              <button type="submit" class="btn btn-default btn-success">Enviar <span class="glyphicon glyphicon-ok"></span></button>
              <a href="javascript:window.history.go(-1)" class="btn btn-default btn-info"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</a>
              <a href="{% url 'new_tarefa_projeto' %}" class="btn btn-default btn-info">Próximo <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% endbuttons %}
        </div>
    </form>

    <script type="text/javascript">
      $(document).ready(function() {
        $(function() { $('#id_data_inicio').datepicker({ language: 'pt-BR' }); });
        $(function() { $('#id_data_fim').datepicker({ language: 'pt-BR' }); });
      });
    </script>

{% endblock content %}
