{% extends "base/base.html" %}

{% block content %}
    <div class="jumbotron">
      <p class="texto">
        <h2>Insumicro</h2>
        <h3>
          <a href="/data/jbrowse/a1">Spathaspora sp. A1</a><br/><br/>
          <a href="/data/jbrowse/a5">Scheffersomyces sp. A5</a><br/><br/>
          <a href="/data/jbrowse/a9">Meyerozyma sp. A9</a><br/><br/>
          <a href="/data/jbrowse/insumicro">Todos</a>

        </h3>
        <br/>
        <h2>Outros</h2>
        <h3>

          <a href="/data/jbrowse/ar155">AR 155</a><br/><br/>
          <a href="/data/jbrowse/brjatropha">BR Jatropha</a><br/><br/>
          <a href="/data/jbrowse/cana">Cana</a><br/><br/>
          <a href="/data/jbrowse/ccma1212">CCMA 1212</a><br/><br/>
          <a href="/data/jbrowse/cfma422">CFMA 422</a><br/><br/>
          <a href="/data/jbrowse/ctc_f1880">CTC f1880</a><br/><br/>
          <a href="/data/jbrowse/humicola">Humicola</a><br/><br/>
          <a href="/data/jbrowse/lba32">LBA32</a><br/><br/>
          <a href="/data/jbrowse/manicore">Manicore</a><br/><br/>
        </h3>
      </p>
    </div>
{% endblock content %}
