{% extends "base/base.html" %}

{% load gbp_filters %}
{% load bootstrap3 %}

{% block title %} <title>{{ pagina }}</title> {% endblock title %}

{% block content %}

    <h2>{{ pagina }}</h2>

    <hr/>

    {{ pagina.texto | safe }}&nbsp;


    <p><b>Cadastrado:</b> <br/> <div class='text-highlight'> {{ pagina.data_cadastro }}&nbsp;</div></p>

    <hr/>

    {% if request.user|has_group:'Admin CMS' or request.user == pagina.criado_por or request.user.is_superuser %}
      <p>
        <a href="{{ pagina.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
        <a href="{{ pagina.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
        <a href="{% url 'list_pagina' %}" class="btn btn-sm btn-info">Voltar</a>
      </p>
    {% endif %}

{% endblock content %}
