{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %} <title>{{ palavrachave }}</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    <h2>{{ palavrachave }}</h2>

    <hr/>

    <p><b>Cadastrado:</b> <br/> <div class='text-highlight'> {{ palavrachave.data_cadastro }}&nbsp;</div></p>

    <hr/>

    {% if request.user == palavrachave.criado_por or request.user.is_superuser %}
      <p>
        <a href="{{ palavrachave.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
        <a href="{{ palavrachave.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
        <a href="{% url 'list_palavrachave_projeto' %}" class="btn btn-sm btn-info">Voltar</a>
      </p>
    {% endif %}

{% endblock content %}
