{% extends "base/base.html" %}
{% load gbp_filters %}

{% load bootstrap3 %}

{% block title %} <title>Listar Todas as Palavras Chaves</title> {% endblock title %}

{% block content %}

    {% include "base/menu-projetos.html" %} <br/>

    {% if request.user|has_group:'Admin Projetos' or request.user.is_superuser %}
      <div style="float: right;"><a href="{% url 'new_palavrachave_projeto' %}" class="btn btn-sm btn-success">Adicionar</a></div>
    {% endif %}

    {% if not palavraschave %}

      <div class="jumbotron"><h4>Nenhum Dado Cadastrado. <a href="{% url 'new_palavrachave_projeto' %}">Cadastrar?</a> </h4></div>

    {% else %}

        {% include 'base/sort_links.html' %}

        {% for palavrachave in palavraschave %}
            <ul class="list-group">
              <li class="list-group-item">

                <h3><a href="{{ palavrachave.get_detail_url }}">{{ palavrachave.palavra }}</a></h3>

                <br/>

                {% if request.user == palavrachave.criado_por or request.user.is_superuser %}
                  <p>
                    <a href="{{ palavrachave.get_update_url }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{{ palavrachave.get_delete_url }}" class="btn btn-sm btn-danger">Apagar</a>
                  </p>
                {% endif %}

                <div class="data-atualizado">{{ palavrachave.data_atualizado }}</div>

              </li>
            </ul>
        {% endfor %}

        {% include 'base/pagination.html' %}

    {% endif %}

{% endblock content %}
